<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | App team G</title>
  </head>
  <body>
   <div class="center jumbotron">
  <h1><%= t('product.welcome')%></h1>

  <%= link_to t("product.signup"), "#", class: "btn btn-lg btn-primary" %>
</div>
</html>