<%= provide(:title, t(".bar_title")) %>
<table class="table">
  <thread>
    <%= render "header_table" %>
  </thread>
  <tbody>
    <tr class="info">
      <%= render @words %>
    </tr>
  </tbody>
</table>
