<% provide(:title, t("index.all")) %>
<h1><%= t("index.all") %></h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <% if current_user != user && (can? :destroy, user) %>
        | <%= link_to t("admin.delete"), user_registration_path, method: :delete,
          data: {confirm: t("admin.admin_confirm")} %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="page-center">
  <%= will_paginate %>
</div>