default: &default
  adapter: mysql2
  username: tuanh
  password: 1234
  host: localhost

development:
  <<: *default
  database: library_development

test:
  <<: *default
  database: library_test

production:
  <<: *default
  database: library_production
