default: &default
  adapter: mysql2
  username: user
  password: password
  host: localhost

development:
  <<: *default
  database: library_development

test:
  <<: *default
  database: library_test

production:
  <<: *default
  database: library_production
