<li id="activities">
  <p><%= link_to (t(".learn") + activity.lesson.name), lesson_path(activity.lesson) %></p>
  <span class="timestamp">
    <%= t(".start") + time_ago_in_words(activity.created_at) + t(".ago") %>
  </span>
</li>
