<ul class="nav navbar-nav navbar-right">
  <li>
    <%= link_to signup_path do %>
      <span class="glyphicon glyphicon-user"></span>
      <%= t("view.header.signup") %>
    <% end %>
  </li>
  <li>
    <%= link_to login_path do %>
      <span class="glyphicon glyphicon-log-in"></span>
      <%= t("view.header.login") %>
    <% end %>
  </li>
</ul>
